In [77]:
import pandas as pd

In [78]:
df=pd.read_csv("gemstone.csv")
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779

In [79]:
df= df.drop(columns='Unnamed: 0',axis=1 )

In [80]:
df.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1   0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2   0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3   0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4   0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779

In [81]:
X= df.drop(columns='price', axis=1)
y=df[['price']]

In [82]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26967 entries, 0 to 26966
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    26967 non-null  float64
 1   cut      26967 non-null  object
 2   color    26967 non-null  object
 3   clarity  26967 non-null  object
 4   depth    26270 non-null  float64
 5   table    26967 non-null  float64
 6   x        26967 non-null  float64
 7   y        26967 non-null  float64
 8   z        26967 non-null  float64
dtypes: float64(6), object(3)
memory usage: 1.9+ MB

In [83]:
categorical_cols=X.select_dtypes(include='object').columns
numerical_cols=X.select_dtypes(exclude='object').columns

In [84]:
numerical_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [85]:
#define custom ranking for each ordinal variable 
cut_categories= ['Fair', 'Good', 'Very Good', 'Premium', 'Ideal']
color_categories=['D','E','F','G','H','I','J']
clarity_categories =['IF','VVS1', 'VVS2', 'VS1','VS2', 'SI1','SI2','I1']

In [86]:
#automating missing values
from sklearn.impute import SimpleImputer  
#feature scaling
from sklearn.preprocessing import StandardScaler 
#ordinal encoding the values in categorical columns 
from sklearn.preprocessing import OrdinalEncoder 

## create pipelines so that values get adjusted in their respective columns 
from sklearn.pipeline import Pipeline

## Now we are grouping all the above steps into one 
from sklearn.compose import ColumnTransformer

In [87]:
#creating numerical pipeline 
num_pipeline= Pipeline(
                        steps=[
                            ('imputer', SimpleImputer(strategy='median')),
                            ('scaler', StandardScaler())
                            ]
                        )

#creating categorical pipeline
cat_pipeline= Pipeline( 
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories])),
        ('scaler', StandardScaler()) 
        ]

)

#combine both numerical and categorical pipelines 
preprocessor= ColumnTransformer([
('num_pipeline',num_pipeline,numerical_cols),
('cat_pipeline',cat_pipeline,categorical_cols)
])

In [88]:
## train test split 
from sklearn.model_selection import train_test_split
X_train,y_train,X_test,y_test=train_test_split(X,y, test_size=0.30, random_state=42)

In [89]:
#training data - fit,transform, test data = transform 
#preprocessor.fit_transform(X_train)
#convert to a dataframe 
pd.DataFrame(preprocessor.fit_transform(X_train), columns= [preprocessor.get_feature_names_out()])

AttributeError: Estimator imputer does not provide get_feature_names_out. Did you mean to call pipeline[:-1].get_feature_names_out()?